#root {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  /* height: 2em; */
  /* padding: 0.5em; */
  will-change: filter;
  transition: scale 1.5s;
}
.logo:hover {
  filter: drop-shadow(0 0 1em hsla(0, 0%, 100%, 0.667));
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #6ac100);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(1) .logo {
    animation: logo-spin infinite 5s linear;
  }
}
